* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
  --blue: #13B0F5;
  --pink: #CA24B4;
  --grey: #666666;
  --green: #D7FFE0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
}